<!doctype html>
<html lang="en">
  <head>
    <title>Home | test</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Peronal CSS-->
    <link rel="stylesheet" type="text/css" href="main.css">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  </head>
  
  <body>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Content-->
            <div id="video">
            <video autoplay muted loop id="myVideo" style="width: 100%;">
                <source src="/videos/Landing.mp4">
                </video>
            </div> 

            <div class="row"> 
            <div id=box>
                <img src="/pictures/blackbox.png">
            </div>
            
            <div class="col-md-4">
                <h2>❤</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> 
                    Sed semper aliquet augue, nec convallis <br>      
                </p>
                <button type="button" class="btn btn-info">Info</button>
            </div>
            
            <div class="col-md-4">
                <h2>❤</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> 
                    Sed semper aliquet augue, nec convallis <br>      
                </p>
                <button type="button" class="btn btn-info">Info</button>
            </div>
            
            <div class="col-md-4">
                <h2>❤</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> 
                    Sed semper aliquet augue, nec convallis <br>      
                </p>
                <button type="button" class="btn btn-info">Info</button>
            </div>

            <div class="col-md-12">
                <h1>The Thrift</h1>
                <h2> Bartering for goods and services is a centuries-old art<br>
                    Worldwide community for trading items</h2>
            </div>

        </div>          
  </body>
</html>